/* src/Chatbot.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.chatbot-container {
    width: 100%;
    max-width: 500px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #6C757D; /* Container border color */
}

.conversation {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 300px; /* Fixed height for the conversation area */
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #212529;
}

.message {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}

.user {
    text-align: right;
    background-color: #E9ECEF;
    color: #212529;
}

.bot {
    text-align: left;
    background-color: #F8F9FA;
    color: #212529;
}

.logo {
    width: 50px;
    margin: 10px auto;
    cursor: pointer;
}

.plus-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
}

.plus-button:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .chatbot-container {
        width: 90%;
        bottom: 15px;
        left: auto;
        right: 5%;
        margin: auto;
        border-radius: 10px;
    }
    
    .plus-button {
        bottom: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .chatbot-container {
        width: 100%;
        height: calc(100% - 20px);
        bottom: 10px;
        right: 0;
        left: 0;
        border-radius: 0;
        margin: 0;
        border: none;
    }

    .card-body {
        padding: 10px;
        flex: 1;
    }

    .plus-button {
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
    
    .toggle-button {
        display: none;
    }
    
    .conversation {
        height: calc(100% - 150px);
        max-height: 300px; /* Ensure scrolling for mobile as well */
        padding: 10px;
    }
    
    input {
        width: 100%;
        padding: 10px;
        background-color: #F1F3F5;
        border: none;
        border-radius: 20px;
    }
    
    button {
        padding: 10px;
    }
}
